.item {

    width: 95%;
    height: 55px;
  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 0 10px;
    margin: 0 auto 5px auto;
    border-radius: 8px;
    background-color: lightgray;

    cursor: pointer;
}

.itemActive {
    width: 95%;
    height: 55px;
  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

 
    padding: 0 10px;
    margin: 0 auto 5px auto;
    margin-bottom: 5px;
    border-radius: 8px;
    background-color: orange;
    cursor: pointer;
}

.inputChange {
    font-size: 16px;
    height: 30px;
    width: 250px;

    text-align: center;
    border-radius: 8px;

    border: none;
}

.inputChange:focus {
    
    outline: none;

}

.list {
    width: 100%;
    padding: 0;
}

.button {
  
    height: 30px;

    border: none;
    border-radius: 8px;

    font-size: 20px;

    cursor: pointer;
    background-color: white;
    box-shadow: 0px 0px 22px 0 rgb(212, 212, 212), 0px 0px 12px 0.5px rgb(104, 104, 104), 0px 0px 5px 0 rgb(65, 65, 65);
    transition: background-color 500ms;
}

.button:hover {
    background-color: rgba(166, 96, 175, 0.404);
}

.button:active {
    box-shadow: inset 0px 0px 4px 5px #d1d1d1;
}

.buttonSet {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    cursor: pointer;
    gap: 20px;
}

.inst {

    height: 20px;
    color: rgba(166, 96, 175, 0.404);

    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    
}

@media only screen and (min-width: 320px) and (max-width: 427px) {
    .item {
        width: 90%;
        height: auto;
      
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
   
        padding: 10px;
  
    }

    .itemActive {

        height: auto;
        width: 90%;
        flex-direction: column;

        justify-content: space-around;
        align-items: center;
      
        padding: 10px;
    }

    .inst {

        height: 20px;
        color: rgba(166, 96, 175, 0.404);
        margin: 20px 0 20px 0;
        cursor: pointer;
        font-size: 12px;
        font-weight: bold;
        
    }

    .inputChange {
       
        width: 200px;
    
    }

    .button {
  
        width: 100px;
     }
}

@media only screen and (min-width: 428px) and (max-width: 767px) {
   
    .item {
        width: 90%;
        height: auto;
      
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
   
        padding: 10px;
  
    }

    .itemActive {

        height: auto;
        width: 90%;
        flex-direction: column;

        justify-content: space-around;
        align-items: center;
      
        padding: 10px;
    }

    .inst {

        height: 20px;
        color: rgba(166, 96, 175, 0.404);
    
        cursor: pointer;
        font-size: 16px;
        font-weight: bold;
        
    }

    .button {
  
       width: 100px;
    }

    .p {
        font-size: 16px;
        margin-bottom: 0;
    }

}

@media only screen and (min-width: 768px) {
    .inst {

        font-size: 12px;
        width: 180px;
        text-align: center;
    }
    
}

@media only screen and (min-width: 1024px) {
    .inst {

       
        font-size: 20px;
        width: 400px;
        text-align: none;
    }

}